.conteudo {
	-fx-background: black;
	-fx-font-family: Roboto;
}

.titulo {
	-fx-text-fill: #0069d2;
	-fx-font-size: 28px;
}

.numero {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 24px;
	fx-minw-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
}